body {
    display: grid;
    grid-template-columns: 200px 1fr 240px;
    grid-template-areas: 
        "head head head"
        "menu feed msg";
}

header {
    grid-area: head;
    background-color: blue;
}

aside {
    background-color: forestgreen;
}
.menu {
    grid-area: menu;;
}
.messenger {
    grid-area: msg;
}

main {
    
}