.post {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
    
}
    .post > header {

    }
    .post > div {
        
    }
        .big-font {
            font-size: 30px;
        }
        .see-more{
            color: blue;
            cursor: pointer;
        }

    .post > footer {
        
    }